[access]
	inheritFrom = All-Projects
[project]
	description = Unified Secure Channel
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-usc-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/beryllium:refs/heads/stable/beryllium
